<!doctype html>
<html lang="nl">

<head>
    <%- include('layout/head'); -%>
</head>

<body>
    <%- include('layout/header'); -%>

        <main class="filter-page">
            <!-- filter page -->
            <!-- section one -->
            <section>
                <h2>Filter</h2>
                <article>
                    <h3>Leeftijd</h3>
                    <ul>
                        <li><input type="radio" id="leeftijd" name="drone" value="18-25jaar">
                            <label for="leeftijd">18 - 25 jaar</label></li>
                    </ul>
                </article>
            </section>


        </main>

        <!-- footer-->
        <%- include('layout/footer'); -%>
            <script src="scripts/script.js"></script>
</body>

</html>