<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="/styles/style.css" rel="stylesheet" type="text/css">
 
</head>

<body>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <h1 class='test'>You Searched For : <%= data.userQuery %></h1>
          <% if(data.loggedIn){ %>
                <h2> You are logg in as : <%= data.username %> </h2>
            <% } %>
          <ul>
            <% data.searchResults.forEach(result=>{ %>
                <li> <%= result %> </li> 
            <% }); %>
          </ul>
        </div>
        <div class="col-lg-4"></div>
      </div> 
   
  <script src="/public/js/example.js"></script>
</body>
</html>