/* CSS Document - project filter feature */

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 100% / 250%;
    letter-spacing: 0.15em;
}


/*************************************************/


/*--------------Header - nav --------------------*/

header {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 0.2em solid black;
    background-color: whitesmoke;
}

header>nav {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

header>nav>ul>li {
    display: inline;
}


/* space between */

header>nav>ul>li>a {
    padding: 2.5em;
}


/*----SVG ICONS MENU------*/

header>nav>ul>li>a>svg {
    width: 3em;
    height: 3em;
}


/**************************************************/


/*-------------GENERAL style ELEMENTS-------------*/

.test {
    color: palevioletred;
}


/* HIDE ELEMENTS*/

.hide-elements {
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    width: 100%;
}


/* -------- MAIN -------*/

main {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: 1fr;
}


/* CENTER CONTENT*/

main>section {
    text-align: center;
    background-color: #eddcd2;
}

main.search-page>section:first-of-type>article:first-of-type {
    margin-top: 2em;
    margin-bottom: 2em;
    /*  display: flex;
    margin-left: 20%;
    margin-right: 20%;*/
}


/* SEARCH INPUT STYLE */

main.search-page>section:first-of-type input {
    width: 20em;
    height: 3em;
    border-radius: 0.8rem;
    text-align: center;
}


/*-----FILTER OPTION----*/

main.search-page>section:first-of-type>article:first-of-type>a {
    cursor: pointer;
}

main.search-page>section:first-of-type>article:first-of-type>a>svg {
    width: 2em;
    height: 2em;
}

/* AANBEVOLEN */

main.search-page>section:first-of-type>article:nth-of-type(2) {
    margin-bottom: 2em;
}


/* space between li's */

main.search-page>section:first-of-type>article:nth-of-type(2) li {
    padding-bottom: 1em;
}


/************* page search *************/

main.p-filter>section:first-of-type>article:nth-of-type(2)>button {
    font-size: 1em;
}


/************** FILTER PAGE ************/

main.filter-page>section:first-of-type {
    margin-bottom: 7em;
}

main.filter-page>section:first-of-type article {
    text-align: start;
    padding-left: 3em;
}

main.filter-page>section:first-of-type>article>ul>li {
    margin: 0;
    padding: 0;
}

main.filter-page>section>article>ul>li input {
    width: 2em;
    height: 2em;
}

main.filter-page input.input-food {
    width: 15em;
    height: 2em;
    text-align: center;
}


/**************************************/


/*-------------FOOTER----------------*/

footer {
    display: none;
}


/* media query */

@media (min-width: 40em) {
    img {
        width: 50%;
    }
    footer {
        display: block;
    }
}