/* CSS Document - MATCHING APP - */
*,
*::after,
*::before {
  box-sizing: border-box;
}

HTML,
body {
  font-family     : Arial, Helvetica, sans-serif;
  margin          : 0;
  padding         : 0;
  font-size       : 100% / 250%;
  letter-spacing  : 0.1em;
  line-height     : 0.1rem;
  background-color: #f2e9e4;
}

/*************************************************/
/*--------------Header - nav --------------------*/

header {
  overflow        : hidden;
  position        : fixed;
  bottom          : 0;
  width           : 100%;
  margin          : 0;
  padding         : 0;
  border-top      : 0.2em solid black;
  background-color: #f2e9e4;
  z-index         : 0;
}

header>nav {
  padding-top   : 0.5em;
  padding-bottom: 0.5em;
  text-align    : center;
}

header>nav>ul>li {
  display: inline;
}

/* space between */

header>nav>ul>li>a {
  padding: 2.5em;
}

/*----SVG ICONS MENU------*/

header>nav>ul>li>a>svg {
  width : 2.5em;
  height: 2.5em;
}

/*************************************************/

/*************************************************/
/*----------------- GENERAL STYLE ---------------*/
/* HIDE ELEMENTS*/
.hide-elements,
footer {
  clip       : rect(0, 0, 0, 0);
  clip-path  : inset(50%);
  height     : 0.5em;
  overflow   : hidden;
  position   : absolute;
  white-space: nowrap;
  width      : 0.5em;
}

/* list */
ul {
  margin : 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* link */
a {
  text-decoration: none;
  cursor         : pointer;
}

img {
  width: 100%;
}

/*************************************************/

/*************************************************/
/* -------------------- MAIN --------------------*/
main {
  display           : grid;
  grid-gap          : 0em;
  grid-template-rows: 1fr;

  margin-bottom: 3em;
}

/*************************************************/

/*--------------- SEARCH PAGE -------------------*/
/*-------------- SECTION ONE --------------------*/
/*main.searchPage>section:first-of-type*/
section.logoMatchingApp {
  text-align      : center;
  background-color: #ff6f59;
  padding-bottom  : 1em;
  border-bottom   : 0.05rem solid grey;
}

main.filterPage>section.logoMatchingApp {
  margin-bottom: 2em;
}

/*main.searchPage>section:first-of-type>img*/
img.logoImage {
  width     : 20%;
  margin-top: 1em;
}
/* SEARCH INPUT STYLE */
main.searchPage>section:first-of-type>article>input {
  width        : 20em;
  height       : 3em;
  border-radius: 0.8rem;
  text-align   : center;
}

img.sushiImage {
  width : 13em;
  height: 13em;
}

img.chefImage {
  width: 6em;
}

/*************************************************/
/*---------------- SEARCH PAGE - EJS ------------*/

main>section.sectionShowChef {
  /* grid template */
  display : grid;
  grid-gap: 0em;
  grid-template-areas:
    "photo profileText"
    "bntIcons bntIcons";
}

/* profile image - sushi */
main>section.sectionShowChef>article.imgSushiEjs {
  /* grid template */
  grid-area: photo;
}

img.sushiImage {
  width : 13em;
  height: 13em;
}

/* information about chefs, name, skills, food */
main>section.sectionShowChef>article.textEjs {
  line-height     : 0.2rem;
  text-align      : center;
  background-color: #ffae9d;
  /* grid template */
  grid-area       : profileText;
  width           : 13em;
}

img.chefImage {
  width: 6em;
}

legend {
  background-color: white;
  width           : 100%;
  padding         : 0.8em;
  border-radius   : 2rem;
  line-height     : 0em;
}

/* icons cross and heart*/
main>section.sectionShowChef>article.bntSearchEjs {
  background-color: #cce3de;
  margin-bottom   : 2em;
  /* center icons*/
  display         : flex;
  /* grid template */
  grid-area       : bntIcons;
}

/* icons button */
main>section.sectionShowChef>article.bntSearchEjs button {
  width     : 100%;
  background: none;
  cursor    : pointer;
  padding   : 1em;
  /* center icons*/
  margin    : 0 auto 0 auto;
  /* T R B L */
}

/* icons svg */
main>section.sectionShowChef>article.bntSearchEjs button>svg {
  width : 4em;
  height: 4em;
}

/* filter button */
main.searchPage>section:first-of-type>article>a {
  background: none;
  border    : none;
  cursor    : pointer;
}

main.searchPage>section:first-of-type>article>a>svg {
  margin-bottom: -0.5em;
  width        : 2em;
  height       : 2em;
}

/*--------END----- SEARCH PAGE - EJS ------------*/

/* filter optie */
form {
  text-align: center;
}

form fieldset {
  text-align  : start;
  margin-right: auto;
  margin-left : auto;
  border      : none;
  padding     : 2em
}



/* zoek chef-kok button */
main.filterPage .bntFilterSearch {
  width           : 12em;
  height          : 4em;
  border-radius   : 2rem;
  background-color: #ff6f59;
  font-weight     : bold;
  color           : white;
  margin-bottom   : 2em;
}

main.filterPage .bntFilterSearch:hover {
  background-color: #21d076;
  color           : white;
}

/* filter titel */
.resultTitle {
  text-align: center;
}

/* reset bnt*/
.resetBnt {
  width           : 12em;
  height          : 4em;
  border-radius   : 2rem;
  background-color: #a49a99;
  font-weight     : bold;
  color           : white;
  margin-bottom   : 2em;
}

/* bnt filter specific and random */
.filterOptionChange {
  text-align      : center;
  width           : 12em;
  height          : 4em;
  border-radius   : 2rem;
  background-color: #f5aa9e;
  font-weight     : bold;
  color           : white;
}

.filterOptionChange:hover{
  background-color: #000000;
  color           : white;
  fill            : white;
}

/* titel style filter*/
.titelFilterH {
  color: white;
}

/* filter */
.centerS {
  text-align: center;
}


/*************************************************/
/*------------------- MEDIA QUERY---------------*/
@media (min-width: 30em) {
  img.sushiImage {
    width : 100%;
    height: 100%;
  }

  img.chefImage {
    width : 10em;
    height: 10em;
  }
}

@media (min-width: 40em) {
  img.sushiImage {
    width : 100%;
    height: 100%;
  }

  /* SEARCH PAGE - SECTION THREE - SHOWS CHEFS PROFILES */
  main.searchPage>section:nth-of-type(3) {
    margin-left : 20%;
    margin-right: 20%;
    border-top  : 1px solid black;
    /* grid template */
    display     : grid;
    grid-gap    : 0em;
    grid-template-areas:
      "photo profileText "
      "bntIcons bntIcons";
  }

  main.searchPage>section:nth-of-type(3)>article {
    border-left : 1px solid black;
    border-right: 1px solid black;
  }

  /* ---- ejs --- search --*/
  /* SEARCH PAGE - SECTION THREE - SHOWS CHEFS PROFILES */
  main>section.sectionShowChef {
    margin-left : 20%;
    margin-right: 20%;
    border-top  : 1px solid black;
    /* grid template */
    display     : grid;
    grid-gap    : 0em;
    grid-template-areas:
      "photo profileText"
      "bntIcons bntIcons";
  }

  main>section.sectionShowChef>article {
    border-left : 0.5em solid black;
    border-right: 0.5em solid black;
  }
}