<header>
    <h1 class="hide-elements">navigation menu</h1>
    <nav>
       <!-- Hier komt de nav --> 
<ul><li><a>home</a></li><li><a>search</a></li><li><a>favorite</a></li></ul>
    </nav>
</header>